/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20   // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define NAV   1
#define SYM   2
#define NUM   3
#define UTILS 4

&sk {
    release-after-ms = <1000>;
    quick-release;
    lazy;
    ignore-modifiers;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        caps_word {
            bindings = <&caps_word>;
            key-positions = <17 18>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            layers = <0>;
        };

        vol_up {
            bindings = <&kp C_VOL_UP>;
            key-positions = <10 22>;
            layers = <0>;
        };

        vol_down {
            bindings = <&kp C_VOL_DN>;
            key-positions = <22 34>;
            layers = <0>;
        };

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <5 6>;
            layers = <0>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <9 10>;
            layers = <0>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <7 8>;
            layers = <0>;
        };

        dash {
            bindings = <&kp MINUS>;
            key-positions = <3 4>;
            layers = <0>;
        };

        em_dash {
            bindings = <&emdsh>;
            key-positions = <2 3 4>;
            layers = <0>;
        };

        single_quote {
            bindings = <&kp SQT>;
            key-positions = <7 19>;
            layers = <0>;
        };

        at_sign {
            bindings = <&kp AT>;
            key-positions = <8 20>;
            layers = <0>;
        };
    };

    macros {
        arrow_func: arrow_func {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp EQUAL &kp GT>;
        };

        emdsh: emdsh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp SPACE &kp MINUS &kp MINUS &kp SPACE>;
        };
    };

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        underspace: underspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt NAV SPACE>, <&kp UNDER>;
            mods = <(MOD_RSFT)>;
        };

        arrow_func_tap: arrow_func_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp GT>, <&arrow_func>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
   &kp LGUI   &kp Q        &kp W        &kp E         &kp R         &kp T           &kp Y       &kp U         &kp I         &kp O        &kp P            &kp DEL
   &kp LCTRL  &bhm LGUI A  &bhm LALT S  &bhm LCTRL D  &bhm LSHFT F  &kp G           &kp H       &bhm RSHFT J  &bhm RCTRL K  &bhm RALT L  &bhm RGUI SEMI   &kp SQT
   &sk LSHFT  &kp Z        &kp X        &kp C         &kp V         &kp B           &kp N       &kp M         &kp COMMA     &kp DOT      &kp FSLH         &kp RALT
                           &kp LGUI     &underspace   &lt UTILS TAB                 &lt NUM RET &lt SYM BSPC  &sk RSHFT
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
   &none  &none     &none     &none      &none      &none           &mkp LCLK       &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp RCLK
   &none  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &none           &none           &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &none
   &none  &none     &none     &none      &none      &none           &mkp MB4        &kp HOME        &kp PG_DN       &kp PG_UP     &kp END          &mkp MB5
                    &trans    &trans     &trans                     &trans          &trans          &trans
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
   &none  &kp EXCL   &kp QMARK         &kp LBRC          &kp RBRC          &kp PLUS           &kp DLLR   &kp GRAVE         &kp PRCNT          &kp HASH   &kp CARET  &none
   &none  &kp LT     &arrow_func_tap   &bhm LSHFT LPAR   &bhm LCTRL RPAR   &kp MINUS          &kp EQUAL  &bhm RCTRL SQT    &bhm RSHFT AMPS    &kp DQT    &kp COLON  &none
   &none  &kp BSLH   &kp FSLH          &kp LBKT          &kp RBKT          &kp ASTRK          &kp UNDER  &kp AT            &kp PIPE           &kp TILDE  &kp HASH   &none
                     &trans            &trans            &trans                               &trans     &trans            &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
   &kp ESC  &kp F1     &kp F2     &kp F3     &kp F4          &kp F5           &kp F6  &kp F7          &kp F8     &kp F9     &kp F10    &kp F11
   &none    &kp N1     &kp N2     &kp N3     &bhm LCTRL N4   &kp N5           &kp N6  &bhm RCTRL N7   &kp N8     &kp N9     &kp N0     &none
   &none    &kp EXCL   &kp AT     &kp HASH   &kp DLLR        &kp PRCNT        &kp CARET &kp AMPS      &kp ASTRK  &kp LPAR   &kp RPAR   &none
                       &trans     &trans     &trans                           &trans  &trans         &trans
            >;
        };

        utils_layer {
            display-name = "Utils";
            bindings = <
   &none  &none        &none        &none        &none        &none              &none       &none        &none        &none       &none           &none
   &none  &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &none              &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT  &none           &none
   &none  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &none       &none        &none        &bt BT_CLR  &bt BT_CLR_ALL  &none
                       &trans       &trans       &trans                          &kp C_STOP  &kp C_PP     &kp C_MUTE
            >;
        };
    };
};
