draw_config:
  key_w: 60
  key_h: 56
  split_gap: 30.0
  combo_w: 28
  combo_h: 26
  key_rx: 6.0
  key_ry: 6.0
  dark_mode: false
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 56.0
  line_spacing: 1.2
  arc_radius: 6.0
  append_colon_to_layer_header: false
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0.0
    rel_y: 4.0
    rel_w: 12.0
    rel_h: 12.0
    rx: 4.0
    ry: 4.0
  svg_extra_style: |-
    /* font and background color specifications */
    svg.keymap {
      font-family: Ubuntu Mono, Inconsolata, Consolas, Liberation Mono, Menlo, monospace;
      font-size: 12px;
      font-weight: bold;
      text-rendering: optimizeLegibility;
    }

    /* default key styling */
    rect {
        fill: #f6f8fa;
        stroke: #c9cccf;
        stroke-width: 1;
    }

    /* color accent for combo boxes */
    rect.combo {
        fill: #fdb2e7;
    }

    /* color accent for held keys */
    rect.held, rect.combo.held {
        fill: #ee61bd;
    }

    /* color accent for ghost (optional) keys */
    rect.ghost, rect.combo.ghost {
        fill: #ddd;
    }

    text {
        text-anchor: middle;
        dominant-baseline: middle;
    }

    /* styling for layer labels */
    text.label {
        font-weight: bold;
        font-size: 16px;
        text-anchor: start;
        stroke: white;
        fill: #ee61bd;
        stroke-width: 2;
        paint-order: stroke;
    }

    /* styling for combo tap, and key hold/shifted label text */
    text.combo, text.hold, text.shifted {
        font-size: 11px;
    }

    text.hold {
        text-anchor: middle;
        dominant-baseline: auto;
        fill: #ee61bd;
    }

    text.shifted {
        text-anchor: middle;
        dominant-baseline: hanging;
        opacity: 0.7;
    }

    /* styling for hold/shifted label text in combo box */
    text.combo.hold, text.combo.shifted {
        font-size: 8px;
    }

    /* styling for combo dendrons */
    path {
        stroke-width: 1;
        stroke: gray;
        fill: none;
    }
    path.combo {
      stroke-dasharray: 4, 4;
      stroke-opacity: 0.3;
    }
  footer_text: ""
  shrink_wide_legends: 0
  style_layer_activators: true
  glyph_tap_size: 16
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs: {}

parse_config:
  preprocess: true
  skip_binding_parsing: false
  raw_binding_map:
    "&mmv MOVE_LEFT": MOUSE ←
    "&mmv MOVE_RIGHT": MOUSE →
    "&mmv MOVE_UP": MOUSE ↑
    "&mmv MOVE_DOWN": MOUSE ↓
    "&mkp LCLK": LClk
    "&mkp MB1": LClk
    "&mkp MB2": RClk
    "&mkp MB3": Mid Clk
    "&mkp MB4": BACK
    "&mkp MB5": FORWARD
    "&msc SCRL_DOWN": SCROLL ↓
    "&msc SCRL_UP": SCROLL ↑
    "&bootloader": BOOT
    "&studio_unlock": UNLOCK
    "&caps_word": ⇪ WORD

  sticky_label: sticky
  toggle_label: toggle
  tap_toggle_label: tap-toggle
  trans_legend:
    t: ▽
    type: trans

  modifier_fn_map:
    left_ctrl: Ctl
    right_ctrl: Ctl
    left_shift: Sft
    right_shift: Sft
    left_alt: Alt
    right_alt: AltGr
    left_gui: Gui
    right_gui: Gui
    keycode_combiner: "{mods}+{key}"
    mod_combiner: "{mod_1}+{mod_2}"

  zmk_keycode_map:
    AMPERSAND: "&"
    AMPS: "&"
    APOS: "'"
    APOSTROPHE: "'"
    ASTERISK: "*"
    ASTRK: "*"
    AT: "@"
    AT_SIGN: "@"
    BACKSLASH: \
    BSLH: \
    BACKSPACE: ⌫
    CAPSLOCK: ⇪ LOCK
    CARET: ^
    COLON: ":"
    COMMA: ","
    DLLR: $
    DOLLAR: $
    DOT: .
    DOUBLE_QUOTES: '"'
    DQT: '"'
    EQUAL: "="
    EXCL: "!"
    EXCLAMATION: "!"
    FSLH: /
    GRAVE: "`"
    GREATER_THAN: ">"
    GT: ">"
    HASH: "#"
    LBKT: "["
    LBRC: "{"
    LEFT_BRACE: "{"
    LEFT_BRACKET: "["
    LEFT_PARENTHESIS: (
    LESS_THAN: <
    LPAR: (
    LT: <
    MINUS: "-"
    NON_US_BACKSLASH: \
    NON_US_BSLH: "|"
    NON_US_HASH: "#"
    NUHS: "#"
    PERCENT: "%"
    PERIOD: .
    PIPE: "|"
    PIPE2: "|"
    PLUS: +
    POUND: "#"
    PRCNT: "%"
    QMARK: "?"
    QUESTION: "?"
    RBKT: "]"
    RBRC: "}"
    RIGHT_BRACE: "}"
    RIGHT_BRACKET: "]"
    RIGHT_PARENTHESIS: )
    RPAR: )
    SEMI: ;
    SEMICOLON: ;
    SINGLE_QUOTE: "'"
    SLASH: /
    SPACE: ⎵
    SQT: "'"
    STAR: "*"
    TILDE: "~"
    TILDE2: "~"
    UNDER: _
    UNDERSCORE: _
    LCTRL: ⌃
    LALT: ⎇
    LGUI: ⌘
    LSHFT: ⇧
    RCTRL: ⌃
    LEFT_CONTROL: ⌃
    LEFT_ALT: ⎇
    LEFT_GUI: ⌘
    LMETA: ⌘
    LEFT_SHFT: ⇧
    LEFT_SHIFT: ⇧
    RALT: ⎇
    RGUI: ⌘
    RSHFT: ⇧
    RIGHT_CONTROL: ⌃
    RIGHT_ALT: ⎇
    RIGHT_GUI: ⌘
    RIGHT_SHFT: ⇧
    RIGHT_SHIFT: ⇧
    LEFT: ←
    RIGHT: →
    UP: ↑
    DOWN: ↓
    LEFT_ARROW: ←
    RIGHT_ARROW: →
    UP_ARROW: ↑
    DOWN_ARROW: ↓
    TAB: ↹
    RETURN: ⏎
    RET: ⏎
    ESCAPE: ESC
    C_PREVIOUS: ⏮
    C_NEXT: ⏭
    C_PLAY_PAUSE: ⏯
    C_MUTE: MUTE
    C_VOLUME_DOWN: |-
      VOL
      DOWN
    C_VOLUME_UP: |-
      VOL
      UP
    C_BRIGHTNESS_DEC: ☀↓
    C_BRIGHTNESS_INC: ☀↑
    DELETE: ⌦
    PAGE_UP: PG UP
    PAGE_DOWN: PG DN
