name: Draw ZMK keymaps
on:
  push:
    paths:
      - "config/*.keymap"
      - "keymap_drawer.config.yaml"
  workflow_dispatch:

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      config_path: "keymap_drawer.config.yaml"
      output_folder: "keymap-drawer"
      amend_commit: true
